/* ------------------------------- FOOTER START ------------------------------- */
.widget {
  display: block;
  position: relative;
  background-color: #242424;
  padding: 0 20% 0 20%;
  border-bottom: 1px solid #000; }

.twitter-data {
  color: #c4c5bf; }

.box-lines {
  float: left;
  width: 290px;
  box-sizing: border-box;
  padding: 10px 10px 10px 30px;
  margin: 10px;
  background-color: #242424;
  font-size: 12px;
  color: #a4a4a4; }

.box-lines:last-child {
  margin-right: 30px; }

.box-lines h2 {
  font-size: 15px; }

.box-lines p {
  padding: 0;
  margin: 5px 0;
  line-height: 17px;
  font-style: italic; }

.box-lines span {
  color: #57c5a0; }

.social-container {
  background-color: #242424;
  padding: 25px 19% 0 19%; }

.news-email {
  float: left;
  display: inline-block;
  position: relative;
  width: 245px;
  padding-bottom: 15px; }

.news-email input {
  position: absolute; }

.text-input-news-email {
  width: 215px;
  color: #a4a4a4;
  padding: 10px;
  background-color: #2e2e2e;
  margin-left: 10px; }

.button-email {
  width: 35px;
  height: 35px;
  background-color: #7d7d7d;
  right: 0;
  cursor: pointer; }

.social {
  float: right;
  display: inline-block;
  position: relative;
  padding-bottom: 9px; }

.social li {
  float: right;
  margin-left: 10px; }

.tweet {
  display: none; }

/* FOOTER END DESIGN */
.footer {
  background-color: #2e2e2e;
  font-size: 12px; }

.footer p {
  padding-top: 25px;
  line-height: 18px;
  color: #7d7d7d; }

.footer li {
  float: left;
  padding: 37px 3px 0; }

.footer a,
.footer {
  color: #7d7d7d; }

.paddings-footer {
  padding-bottom: 15px; }

/* FOOTER END DESIGN */
/* SHOW ON ALL PAGE - FREE SHIPPING, TESTIMONALIS, BLOG STOP */
.hr-bar {
  position: relative;
  height: 1px;
  max-width: 69%;
  background-color: #bcb5a7;
  margin: 60px 10px;
  top: 45px; }

.date {
  width: 36px;
  height: 36px;
  background-color: #57c5a0;
  float: left;
  text-align: center;
  padding-top: 3px;
  box-sizing: border-box;
  margin-right: 9px;
  color: #fff;
  font-size: 10px; }

.date span {
  font-size: 13px; }

.blog p,
.blog h3 {
  margin: 0; }

.blog {
  display: none;
  clear: both;
  margin: 15px 0; }

/* SHOW ON ALL PAGE - FREE SHIPPING, TESTIMONALIS, BLOG STOP */
/* ------------------------------- FOOTER STOP ------------------------------- */
