/* ---------------------------------------------------- MEDIA RESOLUTIONS ---------------------------------------------------- */
@media only screen and (max-width: 1361px) {
  .offerts-box {
    width: 206px; }
  .offerts-box a {
    font-size: 13px; }
  .images {
    position: relative;
    width: 100%;
    height: 230px;
    top: 0; } }

@media only screen and (max-width: 900px) {
  /* SLIDER IMAGES RESIZE */
  .slider img {
    position: relative;
    display: none;
    width: 100%;
    height: 530px;
    top: 0; }
  /* TEXT SLIDER */
  .text-slider {
    width: 280px;
    position: absolute;
    transform: translate(-50%, -50%); }
  .label-menu {
    display: block; }
  #toggle:checked + .left-nav-menu {
    display: block; }
  #toggle:checked ~ .text-products {
    display: none; }
  .left-nav-menu {
    display: none;
    text-align: center; }
  .left-nav-menu li {
    display: block;
    width: 100%;
    background-color: white;
    border: 1px solid black;
    margin: 0; }
  .center {
    margin: 0 0 0 0; }
  .search {
    display: none; }
  .alt-search {
    display: inline;
    padding: 7px 5px 8px 5px;
    width: 45px;
    cursor: pointer;
    border-left: 1px solid #cccccc; }
  .offerts-box {
    width: 169px; }
  .offerts-box a {
    font-size: 9px; }
  .extended {
    height: 685px; }
  .extended li {
    width: 90%;
    font-size: 15px; }
  .extended li:last-child {
    width: 90%; } }

@media only screen and (max-width: 768px) {
  .navigator-line {
    width: 70%;
    height: 20px;
    margin: 0 auto; }
  .text-products {
    width: 250px;
    position: absolute;
    font-family: 'Aller';
    /* top: 30%; */
    top: 250px;
    left: 70%;
    transform: translate(-50%, -50%); }
  .images {
    position: relative;
    width: 100%;
    height: 330px;
    top: 0; }
  /* LOGO START RESIZE */
  .logo {
    font-size: 19px; }
  .text-slider {
    position: absolute; }
  .text-slider h1 {
    font-size: 30px; }
  /* SLIDER IMAGES RESIZE */
  .offerts-box {
    width: 206px; }
  .offerts-box a {
    font-size: 13px; }
  .product-box {
    position: relative;
    float: left;
    width: 200px;
    height: 170px;
    background-color: #fff;
    margin: 7px 13px; }
  .product-box .image {
    height: 120px;
    /* DIMENSIUNE POZA INALTIME */
    width: 200px;
    /* DIMENSIUNE POZA LATIME */ }
  .product-box p {
    display: none; }
  .extended {
    height: 685px; }
  .extended li {
    width: 90%;
    font-size: 10px; }
  .extended li:last-child {
    width: 90%; }
  .hr-bar {
    display: none; }
  .social {
    padding-top: 55px; } }

@media only screen and (max-width: 765px) {
  .sign a.switcher {
    display: none; }
  /* TEXT SLIDER */
  .text-slider {
    width: 280px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%; } }

@media only screen and (max-width: 414px) {
  .text-products {
    width: 250px;
    position: absolute;
    font-family: 'Aller';
    /* top: 30%; */
    top: 250px;
    left: 60%;
    transform: translate(-50%, -50%); }
  .navigator-line {
    width: 100%;
    height: 20px;
    margin: 0 auto; } }

@media only screen and (max-width: 360px) {
  .text-products {
    width: 320px;
    position: absolute;
    font-family: 'Aller';
    /* top: 30%; */
    top: 250px;
    left: 50%;
    transform: translate(-50%, -50%); }
  /* TEXT SLIDER */
  .text-slider {
    width: 280px;
    position: absolute;
    transform: translate(-50%, -50%); }
  /* Responsive button */
  .label-menu {
    display: inline;
    float: left;
    cursor: pointer;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    font-size: 26px;
    border: 0; }
  /* FOOTER BOX */
  .box-lines {
    float: left;
    width: 230px;
    box-sizing: border-box;
    padding: 10px 10px 10px 30px;
    margin: 10px;
    background-color: #242424;
    font-size: 12px;
    color: #a4a4a4; } }

/* ---------------------------------------------------- MEDIA RESOLUTIONS ---------------------------------------------------- */
