/* ------------------ TOW PRODUCTS PAGE START ------------------ */
/* --------- SORT DATES START --------- */
.sorts {
  width: 100%;
  background-color: #242424;
  color: white;
  padding-top: 13px;
  padding-bottom: 13px; }

.sortbox{
	margin-top: 3px;
	display: inline;
	width: 220px;
	border-radius: 5px;
	background-color: black;
	padding: 19px;
}

.sortbox .fas {
	color: white;
}

.sortby {
  margin-top: 5px;
  margin-left: 7%;
  margin-right: 13%; }

.left-space {
  margin-left: 20%; }

.middle-products {
  /*put content in the centre*/
  margin-left: 20%;
  margin-right: 0px;
  clear: both; }

/* --------- SORT DATES STOP ---------*/
/* ------------------ TOW PRODUCTS PAGE STOP ------------------ */
