/* --------- OFFRTTS START --------- */

.offerts{
	display: block;
	position: relative;
	align-items: center;
	padding-left: 20%;
	background-color: #242424;
	
}

.middle-offerts{
	margin: 0 0 auto 20%;
	align-items: center;
	clear: both;
}

.offerts-box{
	position: relative;
	width: 326px;
	float: left;
	padding: auto;
	margin-top: 25px;
	margin-right: 10px;
	margin-bottom: 25px;
}
.offerts-box img{
	display: block;
	width: 100%;
	height: 190px;
	margin: auto;
}
.offerts-box a{
	display: block;
	height: 55px;
	width: 55%;
	background-color:rgba(57, 57, 57, 0.8);
	font-size: 21px;
	color: #fff;
	text-transform: uppercase;
	line-height: 60px;
	text-align: center;
	position: absolute;
	top: 60px;
	margin-left: 50px;
}

.sign{
	height: 40px;
	padding: 25px 0;

}
.sign p{
	font-size: 25px;
}
.sign a{
	color: #bcb5a7;
	border: 1px solid #bcb5a7;
	font-size: 14px;
	padding: 8px 20px;
	margin-right: 5px;
	margin-bottom: 5px;
}

.sign span{
	color: #bcb5a7;
	font-size: 14px;
	padding: 8px 20px;
	margin-right: 5px;
	margin-bottom: 5px;
}



/* --------- OFFRTTS STOP --------- */