/* ---------------------------------------------------- GENERAL START ---------------------------------------------------- */
@font-face {
  font-family: 'Aller';
  /*a font name*/
  src: url("../fonts/Aller_Rg.ttf");
  /*URL to font*/ }

body {
  padding: 0;
  margin: 0;
  background-color: white; }

a {
  text-decoration: none; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

input {
  border: none; }

/*For Fooshoes LOGO*/
h1 a {
  float: left;
  margin: 0 10px;
  text-transform: uppercase; }

/* ---------------------------------------------------- GENERAL STOP ---------------------------------------------------- */
/* ---------------------------- GENERAL CLASSES START ---------------------------- */
/*move to the left*/
.left {
  float: left;
  margin: 0 10px; }

/* move right */
.right {
  float: right; }

/*first and second for lineheight first-navbar and menu */
.first {
  line-height: 45px; }

/* Text center */
.center {
  padding: 0 9% 0 9%;
  clear: both; }

/* Text top */
.top {
  height: 45px;
  background-color: #242424; }

.second {
  line-height: 60px; }

.fixit {
  clear: both; }
  

/* FOR FONT ICONS */
.fas {
	color: black;
}

/* FOR FONT ICONS */
.far{
	color: black;
}

/* ---------------------------- GENERAL CLASSES STOP ---------------------------- */
