/* ------------------ FIRST PRODUCTS PAGE START ------------------ */
.bg-color-products {
  background-color: #ebe7df; }

.shover:hover {
  cursor: pointer;
  box-shadow: 0px -32px #57c5a0 inset;
  color: white;
  transition: all 0.5s ease; }

.product-box {
  position: relative;
  float: left;
  width: 300px;
  height: 270px;
  background-color: #fff;
  margin: 7px 13px; }

.product-box .image {
  height: 220px;
  /* DIMENSIUNE POZA INALTIME */
  width: 300px;
  /* DIMENSIUNE POZA LATIME */ }

.product-box:hover .actions {
  opacity: 1;
  transition: all 0.5s; }

.product-box p {
  position: absolute;
  right: 0;
  border-top: 1px solid #cccccc;
  text-align: center;
  line-height: 50px;
  margin: 0;
  width: 300px; }

.actions {
  width: 200px;
  height: 30px;
  position: absolute;
  bottom: 2;
  right: 15;
  opacity: 0;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.5s; }

.actions i {
  display: table;
  float: right;
  margin-right: 25px;
  padding-top: 3px;
  }

.mark {
  position: absolute;
  height: 65px;
  width: 65px;
  color: #fff;
  text-align: center;
  font-size: 13px;
  text-transform: uppercase;
  line-height: 65px; }

.price {
  background-color: #57c5a0;
  bottom: 0;
  left: 12px; }

.sale {
  background-color: #000;
  top: 0;
  right: 12px; }

.extended {
  height: 285px; }

.extended li {
  float: left;
  width: 20%;
  height: 190px;
  margin: 5px;
  padding: 10px 15px;
  font-size: 10px;
  background-color: #dfdbd4;
  box-sizing: border-box; }

.extended li:last-child {
  width: 30%; }

.out {
  background-color: #f27e4b;
  line-height: 15px; }

.out span {
  position: relative;
  top: 15px; }

/* ------------------ FIRST PRODUCTS PAGE STOP ------------------ */
