/* ------------------------- FIRST BAR START ------------------------- */

/*size for background line*/
.navigation-bar{
	width: 100%;
	height:60px;
	background-color: white;
}
/*size for height and color line*/
.top-navigation-bar{
	height: 45px;					
	background-color: #242424;
}
/* CSS for logo font */
.logo{
	font-size: 26px;
	font-family: 'Aller';
	padding: 0;
	margin: 0;
}
/* CSS for link logo font */
.logo a{
	color: #57c5a0;
}

/*search login and register*/
.right-bar-login li{
	font-size: 11px;
	color: #7e7e7e;
	border-right: 1px solid #383838; 
	border-left: 1px solid #383838; 
	padding: 0 3px;
}
/*login and register*/
.right-bar-login a{
	color: #7e7e7e;
	text-transform: uppercase;
}

/* ------------------ SEARCH BAR START --------------------- */

/* Search computer mode */
.search{
	float: right;
	color: white;
	display: inline-block;
	position: relative;
	margin-right: 3px;
	border-left: 1px solid #383838;
	top: 13;
}
/* Search PHONE mode */
.alt-search{
	display: none;
}

/* CSS SEARCHBAR FOR DESIGN AND DROPDOWN */
#search-dropdown {
	box-sizing: border-box; 
	width: 188px;
	color: white;
	background-color: #242424;
	background-image: url('../images/search.png');
	background-position: 10px 10px; 
	background-repeat: no-repeat;
	background-size: 10%;
	font-size: 15px;
	padding: 13px 2px 13px 31px;
	border: none;
  }

/* DESIGN DROPDOWN SEARCHBAR  - TEXT DESIGN, HIDE TEXT, OPACITY, ETC */
.dropdown-content-search {
	display: none;
	position: absolute;
	background-color: #3a3a3a;
	min-width: 188px;
	overflow: auto;
	border: 1px solid #ddd;
	opacity: .8;
  }
/* DESIGN DROPDOWN SEARCHBAR - <A> STYLE */
.dropdown-content-search a {
	color: white;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}
  
.show {display: block;}

/* ------------------ SEARCH BAR STOP --------------------- */

/* ------------------------- FIRST BAR STOP ------------------------- */


/* -------------------------------- NAVBAR MENU START --------------------------------- */

/*  --- General for menubar --- */

/*div for star and cart*/
.wraper{
	width: 44px;
	height: 20px;
	position: relative;
	margin: 21px 3px 0 3px;
}

.wraper>img{
	position: absolute;
	left: 0;
	bottom: 2px;
}

/*  --- General for menubar --- */

/* Responsive button */
.label-menu{
	display: none;
	cursor: pointer;
	margin: 0 0 0 0;
	font-size: 26px;
	line-height: 60px;
	padding: 0 15px 0 15px;
	border-left: 1px solid #cccccc;
}

#toggle {
	display: none;
}

/* Responsive button */

.left-nav-menu li a{
	font-family: 'Aller';
	font-size: 16px;
	color: #242424;
}

.left-nav-menu li{
	width: 60px;
	text-align: center;
	border-right: 1px solid #cccccc;
	padding: 0 10px;
	margin: 0;
	transition: all 0.3s ease;
}

.left-nav-menu li:first-child{
	border-left: 1px solid #cccccc;
}

.left-nav-menu li:hover{
	cursor: pointer;
	box-shadow: 0px -15px #57c5a0 inset;
	transition: all 0.5s ease;
}

.navbar-menu-right li{
	border-left: 1px solid #cccccc;
	margin: 0;
	padding: 0 13px;
	height: 60px;
}

.navbar-menu-right li:first-child{
	border-right: 1px solid #cccccc;
	margin-right: 10px;
}

.navbar-menu-right li:hover{
	cursor: pointer;
	box-shadow: 0px -15px #57c5a0 inset;
	transition: all 0.5s ease;
}


/*square near star and cart*/
.mini-box{
	position: absolute;
	border-radius: 2px;
	font-size: 12px;
	width: 20px;
	line-height: 20px;
	margin-left: 7px;
	text-align: center;
	color: #ffffff;
	right: 0;
	top: 0;
}

/*color for star box*/
.star{
	background-color: #adadad;

}

/*color for cart box*/
.cart{
	background-color: #57c5a0;
}

/* -------------------------------- NAVBAR MENU STOP --------------------------------- */