/* -------------------------------- SLIDESHOW START --------------------------------- */

.text-slider{
	display: block;
	width: 280px;
	position: absolute;
	font-family: 'Aller';
	/* top: 30%; */
	top: 300px;
	left: 70%;
	transform: translate(-50%, -50%);
}

.text-products{
	display: block;
	width: 320px;
	position: absolute;
	font-family: 'Aller';
	/* top: 30%; */
	top: 250px;
	left: 70%;
	transform: translate(-50%, -50%);
}

.slider-buttons-offerts{
	display: inline;
	max-width: 15px;
	padding: 15px;
	margin-right: 1px;
	background-color: white;
	border-radius: 3px;
	cursor: pointer;
	opacity: 0.7;
}

.title-slider-offerts{
	
}

.radio{										/*hide radio input*/
	display:none;
}

.price-slider{
	height: 65px;
	width: 65px;
	color: #fff;
	text-align: center;
	font-size: 13px;
	text-transform: uppercase;
	line-height: 65px;
}

.bit{										/*small lines in navigation line*/
	width: 2px;
	height: 6px;
	float:left;
	background-color: #2e2e2e;
	margin-top: 2px;
}

.bar-slider{										/*size for background line*/
	width: 100%;
}

.slider{									/*wrapper for slider*/
  	width: 100%;
}

.slider img{
 	/* position: relative; */
  	display: none;
	width: 100%;
  	top: 0;
}

.slider-label{
	margin: 0 auto;
}

/* text zone and bar - slideshow*/
.slider-navigator{							
  	height: 90px;
  	background-color: #2e2e2e;
  	padding: 6px 0;
	margin: 0 auto;
}

.navigator-line{
 	width: 39%;
  	height: 20px;
	margin: 0 auto;
}

/* SLIDESHOW */

#one:checked~.slide1{						/*shows checked img*/
	display:block;
}								
#two:checked~.slide2{
	display:block;
}
#three:checked~.slide3{
	display:block;
}
/* SLIDESHOW */

.nav-box{									/*area(with text under navigation line) to navigate between img*/ 
  	/* width: 180px; */
  	height:6px;
  	float:left;
  	margin:2px 5px;
  	font-size: 18px;
	text-align: center;
	color: #8b8b8b;
	cursor: pointer;
	transition: all 0.5s;
}

.nav-box:hover{								/*navigation area in focus*/
  outline:0;
  color: #fff;
  transition: all 0.5s;
}

.nav-box:focus{								/*navigation area in focus*/
  background-color:#57c5a0;
  outline:0;
  color: #fff;
  transition: all 0.5s;
}

.nav-box p{
	margin: 20px 0 0;
}

.nav-box span{
	font-size: 12px;
	color: #5d5d5d;
}

/* PRODUCT PAGE NO SLIDER */

.images{									/*wrapper for slider*/
  	width: 100%;
}

/* -------------------------------- SLIDESHOW STOP --------------------------------- */